$colors: (
  primary: (
    100: #D1C4E9,
    300: #9575CD,
    500: #673AB7,
    700: #512DA8,
    900: #311B92,
  ),

  red: (
    100: #FFCDD2,
    300: #E57373,
    500: #F44336,
    700: #D32F2F,
    900: #B71C1C,
  ),

  indigo: (
    100: #C5CAE9,
    300: #7986CB,
    500: #3F51B5,
    700: #303F9F,
    900: #1A237E,
  ),

  green: (
    100: #C8E6C9,
    300: #81C784,
    500: #4CAF50,
    700: #388E3C,
    900: #1B5E20,
  ),

  blue: (
    100: #BBDEFB,
    300: #64B5F6,
    500: #2196F3,
    700: #1976D2,
    900: #0D47A1,
  ),
);

$color-names: map-keys($colors);

@function color-var($color, $swatch: 500) {
  @return unquote('--color-#{$color}-#{$swatch}');
}

@function color($color, $swatch: 500) {
  @return map-get(map-get($colors, $color), $swatch);
}

@mixin colors-loop() {
  @each $color, $swatches in $colors {
    $color: $color !global;

    @content;

    $color: null !global;
  }
}

@mixin set-color-vars() {
  @each $color-name, $map in $colors {
    @each $swatch, $color in $map {
      --color-#{'' + $color-name}-#{$swatch}: #{$color};
    }
  }
}
