:root {
  --navbar-width: 200px;

  --color-text: #333;
  --color-primary: #673AB7;
  --color-separator: #ddd;
  --color-bg: white;
  --color-bg-2: #eee;
  --color-bg-3: #ccc;

  --padding-main: 15px;

  --box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
}
