#app {
  @include set-color-vars();

  --color-text: #333;
  --color-text-2: #777;
  --color-separator: #ddd;
  --color-bg: #f2f2f2;
  --color-fg: white;
  --color-fg-focus: #eee;

  --padding-main: 15px;

  --box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);

  --border-radius: 3px;

  --font-size-sm: 12px;
  --font-size: 14px;

  --spacer-1: 5px;
  --spacer-2: 10px;
  --spacer-3: 15px;

  --sidebar-width: 200px;
}

@import 'themes';
