.similar-list-container {
  &:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--color-separator);
  }
}

.similar-section-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.similar-section-name {
  font-size: var(--font-size-lg);
  margin-right: 5px;
}

.similar-section-counter {
  background: var(--color-primary-500);
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: var(--font-size-sm);
}

.recent-searches {
  display: flex;
}
