node_modules/

*.nupkg
*.user
web/.env.production
mobile/android/key.properties
backend/src/Aggregator/sample-score.txt

deploy/
deploy.ps1
mobile/.flutter-plugins-dependencies
mobile/ios/Flutter/flutter_export_environment.sh
