body {
  --color-link: var(--blue);
  --color-link-hover: var(--blue);

  --padding-main: 15px;

  --box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);

  --border-radius: 3px;

  --font-size-sm: 12px;
  --font-size: 14px;
  --font-size-lg: 16px;

  --spacer-1: 5px;
  --spacer-2: 10px;
  --spacer-3: 15px;

  --sidebar-width: 200px;
}

html,
body {
  height: 100%;
}

a {
  color: var(--color-link);
  cursor: pointer;

  &:hover {
    color: var(--color-link-hover);
  }
}

a.plain-link {
  @include anchor-unstyled();

  &:hover {
    color: var(--color-link-hover);
  }
}

input {
  color: inherit;
}

.text-2 {
  color: var(--text-color-secondary);
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);

  height: 100%;
  display: flex;
}

#app-view {
  flex: 1;
  padding: var(--padding-main);
  background: var(--bg-main);
  overflow-y: auto;
  transition: transform ease-in-out .1s;
}

#mobile-navbar {
  margin: calc(-1 * var(--padding-main));
  margin-bottom: var(--padding-main);
  padding: 5px var(--padding-main);
  background: var(--fg-0);
}

.sidebar-expanded {
  #app-view {
    transform: translateX(var(--sidebar-width));
  }
}

@include breakpoint(md) {
  #mobile-navbar {
    display: none;
  }
}

.icon-btn {
  @include flex-center();
  display: inline-flex;
  @include user-select-none();
  padding: 5px;
  opacity: .6;
  transition: all linear .1s;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &disabled {
    pointer-events: none;
    opacity: .4;
  }

  &:hover {
    opacity: 1;
  }
}

.niai-icon {
  fill: currentColor;
}

.label-list {
  display: flex;
  flex-flow: row wrap;
  margin-right: -5px;

  .label {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.label {
  background: var(--primary-50);
  color: var(--primary);
  border-radius: 10px;
  padding: 2px 8px;
  font-size: var(--font-size-sm);
  font-weight: bold;
}

.flex-1 {
  flex: 1;
}
