$card-padding: 10px;

.card {
  --card-padding: #{$card-padding};

  border-radius: var(--border-radius);
  background: var(--fg-0);
  padding: $card-padding;
  transition: box-shadow linear .1s, opacity linear .1s;
  display: flex;
  flex-flow: column;

  &:hover {
    box-shadow: var(--box-shadow);
  }

  &:not(.original-item) {
    border-bottom: 2px solid var(--primary);
  }

  &.card-faded {
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }
}

.card-label {
  padding: 3px;
  @include flex-center();
  font-size: var(--font-size-sm);
  background: var(--fg-1);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 5px;

  &:first-child {
    margin-top: 4px;
  }
}

.card-footer {
  margin-top: 5px;
  margin-left: -$card-padding;
  margin-right: -$card-padding;
  margin-bottom: -$card-padding;
  background: var(--fg-1);
  padding: $card-padding / 2 $card-padding;
}
