#app.theme-dark {
  --color-text: white;
  --color-text-2: #ccc;
  --color-separator: #444;
  --color-bg: #272C38;
  --color-fg: #1F232D;
  --color-fg-focus: #323948;

  --color-link: var(--color-blue-300);
  --color-link-hover: var(--color-blue-300);

  --box-shadow: 0 1px 10px 0 rgba(255, 255, 255, .1);
}
