.vocab-card-top {
  display: flex;
  margin-bottom: 10px;
}

.vocab-card-kanji {
  font-size: var(--font-size-lg);
}

.show-more-cont {
  @include flex-center();

  a {
    font-size: var(--font-size-sm);
  }
}
