$kanji-card-padding: 10px;

.kanji-card {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-separator);
  border-bottom: 2px solid var(--color-primary-500);
  background: var(--color-fg);
  padding: $kanji-card-padding;
  transition: box-shadow linear .1s;
  display: flex;
  flex-flow: column;

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.kanji-card-poku-list {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.kanji-card-poku {
  display: flex;
  font-size: var(--font-size-sm);
  align-items: center;

  svg {
    width: 15px;
    height: 15px;
  }
}

.kanji-card-poku-text {
  margin-right: 5px;
}

.kanji-card-top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.kanji-card-character {
  font-size: 40px;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  color: var(color-var(green));
  background: rgba(color(green), .1);
  border: 1px solid var(--color-separator);
}

.kanji-card-links {
  flex: 1;
  display: flex;
  flex-flow: column;

  .kanji-card-link {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.kanji-card-link {
  display: flex;
  align-items: center;
  @include anchor-unstyled();
  padding: 3px;
  transition: all linear .1s;
  opacity: .6;

  &:hover {
    opacity: 1;
  }
}

.kanji-card-link-img {
  @include user-select-none();
  border-radius: 2px;
  margin-right: 3px;
  width: 30px;

  &.a-bit-smaller {
    width: 22px;
    margin: 0 4px;
  }
}

.kanji-card-link-text {
  font-size: var(--font-size-sm);
}

// .kanji-card-table {
//   display: grid;
//   grid-template-columns: 30px 1fr;
//   grid-gap: 5px;
// }

.kanji-card-table-label {
  padding: 3px;
  @include flex-center();
  font-size: var(--font-size-sm);
  background: var(--color-bg);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 5px;

  &:first-child {
    margin-top: 4px;
  }
}

.kanji-card-reading {
  color: var(--color-text-2);
}

.kanji-card-footer {
  margin-top: 5px;
  margin-left: -$kanji-card-padding;
  margin-right: -$kanji-card-padding;
  margin-bottom: -$kanji-card-padding;
  background: var(--color-bg);
  padding: $kanji-card-padding / 2 $kanji-card-padding;
}
