.kanji-card {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-separator);
  border-bottom: 2px solid var(--color-primary-500);
  background: var(--color-fg);
  padding: 10px;
  transition: box-shadow linear .1s;
  @include anchor-unstyled();

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

.kanji-card-top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.kanji-card-character {
  font-size: 40px;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  color: var(color-var(green));
  background: rgba(color(green), .1);
  border: 1px solid var(--color-separator);
}

.kanji-card-reading {
  color: var(--color-text-2);
}
