#app-sidebar {
  background: var(--fg-0);
  width: var(--sidebar-width);
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  border-right: 1px solid var(--bd);
  position: absolute;
  height: 100%;
  transition: transform ease-in-out 0.1s;
  transform: translateX(calc(-1 * var(--sidebar-width)));

  a {
    @include flex-center();
    @include anchor-unstyled();
    padding: 10px 20px;
    opacity: 0.6;
    font-weight: bold;

    &:not(:last-child) {
      border-bottom: 1px solid var(--bd);
    }

    &:hover {
      opacity: 1;
    }

    &.router-link-active {
      opacity: 1;
      color: var(--primary-text);
    }
  }

  .sidebar-main {
    flex: 1;
  }
}

.sidebar-expanded {
  #app-sidebar {
    transform: none;
  }
}

@include breakpoint(md) {
  #app-sidebar {
    position: static;
    transform: none;
  }
}
