html,
body {
  margin: 0;
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);

  height: 100%;
  display: flex;
}

#app-nav {
  width: var(--navbar-width);
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  box-shadow: var(--box-shadow);

  a {
    @include flex-center();
    text-decoration: none;
    padding: 10px 20px;
    border-right: 5px solid transparent;
    opacity: .7;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-separator);
    }

    &:hover {
      opacity: 1;
    }

    &.router-link-exact-active {
      opacity: 1;
      border-right-color: var(--color-primary);
    }
  }
}

#app-view {
  flex: 1;
  padding: var(--padding-main);
}
