name: CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1.4.0
      with:
        dotnet-version: 5.0.100
    - name: Setup Node.js
      uses: actions/setup-node@v1.1.0
      with:
        version: 12.16.1
    - name: Build Api
      run: |
        cd ./backend
        chmod +x ./build.sh
        ./build.sh --target=Publish
        cd ..
    - name: Build Web
      run: |
        cd ./web
        npm i
        npm run build
        cd ..
    - name: Upload Api artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: NiaiApi
        path: ./backend/artifacts/publish/Niai
    - name: Upload Web artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: NiaiWeb
        path: ./web/dist

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: [build]
  #   if: startsWith(github.ref, 'refs/tags/')
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Download Api artifact
  #     uses: actions/download-artifact@v1.0.0
  #     with:
  #       name: NiaiApi
  #       path: ./artifacts/api
  #   - name: Download Web artifact
  #     uses: actions/download-artifact@v1.0.0
  #     with:
  #       name: NiaiWeb
  #       path: ./artifacts/web
  #   - name: Deploy Api
  #     uses: wlixcc/SFTP-Deploy-Action@v1.0
  #     with:
  #       server: ${{ secrets.SFTP_SERVER }}
  #       username: ${{ secrets.SFTP_USERNAME }}
  #       port: ${{ secrets.SFTP_PORT }}
  #       ssh_private_key: ${{ secrets.SFTP_KEY }}
  #       local_path: ./artifacts/api/*
  #       remote_path: ${{ secrets.SFTP_API_PATH }}
  #   - name: Deploy Web
  #     uses: wlixcc/SFTP-Deploy-Action@v1.0
  #     with:
  #       server: ${{ secrets.SFTP_SERVER }}
  #       username: ${{ secrets.SFTP_USERNAME }}
  #       port: ${{ secrets.SFTP_PORT }}
  #       ssh_private_key: ${{ secrets.SFTP_KEY }}
  #       local_path: ./artifacts/web/*
  #       remote_path: ${{ secrets.SFTP_WEB_PATH }}
